<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: head}"></head>
<body class="d-flex flex-column min-vh-100">
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container my-5">
        <h2 class="mb-4">[[#{books.title}]]</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="book : ${books}">
                <div class="card h-100">
                    <!-- Image du livre -->
                    <img th:src="@{|/images/${book.imageUrl}|}" class="card-img-top" alt="[[${book.title}]]">


                    <div class="card-body">
                        <h5 class="card-title">[[${book.title}]]</h5>
                        <p class="card-text">
                            <span>[[#{books.author}]]</span>
                            <span>[[${book.author}]]</span>
                        </p>
                        <p class="card-text">
                            <span>[[#{books.price}]]</span>
                            <span>$[[${book.price}]]</span>
                        </p>
                        <form th:action="@{/books/{id}/add(id=${book.id})}" method="post" sec:authorize="isAuthenticated()">
                            <button type="submit" class="btn btn-primary">[[#{books.addToCart}]]</button>
                        </form>
                        <a href="/login" class="btn btn-primary" sec:authorize="!isAuthenticated()">[[#{nav.login}]]</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 